<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.nerdyduck.de/nugetcfg.xsd">
  <apikeys>
  </apikeys>
  <packageSources>
    <add key="PackageSource" value="https://www.myget.org/F/nerdyduck-release/api/v2/package" />
    <add key="SymbolsSource" value="https://www.myget.org/F/nerdyduck-release/api/v2/package" />
  </packageSources>
</configuration>
