<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="testSections">
      <section name="goodOverrides" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions.Configuration.AppConfig" allowDefinition="Everywhere" />
      <section name="badOverrides" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions.Configuration.AppConfig" allowDefinition="Everywhere" />
        <section name="noAssemblyOverrides" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions.Configuration.AppConfig" allowDefinition="Everywhere" />
        <section name="emptyOverrides" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions.Configuration.AppConfig" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="nerdyDuck">
      <section name="codedExceptions" type="NerdyDuck.CodedExceptions.Configuration.CodedExceptionsSection, NerdyDuck.CodedExceptions.Configuration.AppConfig" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <nerdyDuck>
    <codedExceptions>
      <facilityIdentifierOverrides>
        <add assemblyName="mscorlib" identifier="123" />
      </facilityIdentifierOverrides>
      <debugModes>
        <add assemblyName="mscorlib" />
      </debugModes>
    </codedExceptions>
  </nerdyDuck>
  <testSections>
    <goodOverrides>
      <facilityIdentifierOverrides>
        <add assemblyName="NerdyDuck.CodedExceptions, Culture=fr-fr" identifier="39" />
        <add assemblyName="NerdyDuck.CodedExceptions, Version=9.9.9.9" identifier="40" />
        <add assemblyName="NerdyDuck.CodedExceptions, PublicKeyToken=a1b2d3e4f567890c" identifier="41" />
        <add assemblyName="NerdyDuck.CodedExceptions" identifier="42" />
        <add assemblyName="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" identifier="17" />
        <add assemblyName="System.Data, Version=4.0.0.1, Culture=neutral, PublicKeyToken=b77a5c561934e089" identifier="71" />
        <add assemblyName="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" identifier="72" />
      </facilityIdentifierOverrides>
      <debugModes>
        <add assemblyName="NerdyDuck.CodedExceptions, Culture=fr-fr" />
        <add assemblyName="NerdyDuck.CodedExceptions, Version=9.9.9.9" />
        <add assemblyName="NerdyDuck.CodedExceptions, PublicKeyToken=a1b2d3e4f567890c" />
        <add assemblyName="NerdyDuck.CodedExceptions" isEnabled="false" />
        <add assemblyName="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assemblyName="System.Data, Version=4.0.0.1, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assemblyName="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </debugModes>
    </goodOverrides>
    <badOverrides>
        <facilityIdentifierOverrides>
          <add assemblyName="Huengsberg.CodedExceptions" identifier="baaad" />
      </facilityIdentifierOverrides>
      <debugModes>
        <add assemblyName="TestAssembly, Version=1.0.xxx" />
      </debugModes>
    </badOverrides>
    <noAssemblyOverrides>
        <facilityIdentifierOverrides>
          <add assemblyName="" identifier="42" />
      </facilityIdentifierOverrides>
      <debugModes>
        <add assemblyName="" isEnabled="false" />
      </debugModes>
    </noAssemblyOverrides>
    <emptyOverrides>
      <facilityIdentifierOverrides>
      </facilityIdentifierOverrides>
      <debugModes>
      </debugModes>
    </emptyOverrides>
  </testSections>
</configuration>
